---
- name: Clone repository safely using Block/Rescue
  block:
    - name: Clone Git Repository
      ansible.builtin.git:
        repo: "{{ git_repo_url }}"
        dest: "{{ repo_dest }}"
        version: main
        force: yes
      register: git_clone

    - name: Set permissions on web root
      ansible.builtin.file:
        path: "{{ repo_dest }}"
        owner: www-data
        group: www-data
        mode: '0755'
        recurse: yes
      when: git_clone.changed

  rescue:
    - name: Fallback message if Git fails
      ansible.builtin.debug:
        msg: "Git clone failed! Please check internet connectivity on {{ inventory_hostname }}"
      
    - name: Ensure directory exists anyway (Idempotence)
      ansible.builtin.file:
        path: "{{ repo_dest }}"
        state: directory
